@media (min-width: 1025px) {
  .franchise-calc__list li:hover {
    color: #f77846;
  }
  .myImg:hover {
    opacity: 0.7;
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (max-width: 719px) {
  .modal-content {
    width: 60%;
  }
}
