/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*font-family: 'Roboto', sans-serif;*/
/*os:400 r 600sb 700b*/
/*rb: 400r 700b*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #fff;
  line-height: 24px;
  color: #3d3d3d;
  min-width: 576px;
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
}

html {
  -webkit-overflow-scrolling: touch;
}

/*MIAN STYLES*/
/*=============================*/
.wrapper {
  margin: auto;
  height: 100%;
  max-width: 1110px;
}

span {
  display: inline-block;
}

img {
  display: block;
}

.gorod-btn {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 20px 80px 20px 80px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
}

/*CUSTOM SCROLLBAR*/
.scroll-holder {
  position: relative;
}

.scroll-holder:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.scroll-holder:before {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 10px);
  left: 0;
  bottom: 19px;
  height: 100px;
  background-image: -webkit-linear-gradient(bottom, white 10%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.3));
}

.scrollbar {
  float: left;
  height: 740px;
  width: 100%;
  overflow-y: scroll;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

.force-overflow {
  min-height: 1450px;
  background-color: #f1f1f1;
}

#scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dddddd;
  border-radius: 10px;
}

#scrollbar::-webkit-scrollbar {
  width: 10px;
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f77846;
}

/*IMG MODAL*/
.myImg {
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
}

.modal-content {
  margin: auto;
  display: block;
  width: 40%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/*======================*/
/*HEADER*/
/*==============================*/
.header .header-sticky {
  transform: translateY(-100%);
}

.header .header-sticky__wrapper {
  transform: translateY(100%);
}

.header-content {
  max-width: 1110px;
  margin: auto;
  display: flex;
  padding: 40px 0;
  font-weight: 700;
  align-items: center;
}

.header-content__img {
  margin-right: 120px;
}

.header-content__list {
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
}

.header-content__item + .header-content__item {
  margin-left: 30px;
}

.header-content__number {
  margin-left: auto;
}

.header-title {
  background: 50% 50% no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}

.header-title__social {
  float: right;
  text-align: center;
  margin-top: 30px;
}

.header-title__social a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header-title__social li {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #fff;
  color: #1a1a1a;
  font-size: 13px;
}

.header-title__social li i {
  width: 18px;
  text-align: center;
}

.header-title__social li + li {
  margin-top: 20px;
}

.header-title .wrapper {
  padding-top: 100px;
  color: #fff;
}

.header-title__text {
  font-family: 'Roboto', sans-serif;
}

.header-title__text h1 {
  font-size: 56px;
  line-height: 62px;
  font-weight: 700;
}

.header-title__text p {
  margin-top: 15px;
  line-height: 30px;
}

.header-title__column {
  margin-top: 65px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  justify-content: center;
  margin-bottom: 85px;
}

.header-title__item {
  width: 33.33%;
}

.header-title__item .item-wrapper {
  width: 220px;
  margin: auto;
  text-align: center;
}

.header-title__item .item-wrapper p {
  font-size: 14px;
}

.header-title__item .item-wrapper p strong {
  font-size: 18px;
}

.header-title__item .item-wrapper img {
  margin: 0 auto 20px;
}

.header-title .btn-holder {
  text-align: center;
}

.header-title .btn-holder .gorod-btn {
  background-color: #00b4ff;
  margin-bottom: 28px;
}

.header-title .btn-holder img {
  margin: auto;
}

/*======================================*/
/*MAIN*/
/*======================================*/
.main {
  padding: 120px 0 110px 0;
}

.main-title {
  width: 82.8%;
  margin: auto;
  text-align: center;
}

.main-title h2 {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 70px;
}

.main-title b {
  color: #f77846;
}

.main-content {
  margin-top: 80px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-content__line {
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 0;
}

.main-content__line img {
  width: 100%;
}

.main-content__line:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #f77846;
  position: absolute;
  left: 0;
  top: -3px;
}

.main-content__line:after {
  content: '';
  width: 14px;
  height: 18px;
  border-left: solid 14px #f77846;
  border-bottom: solid 9px transparent;
  border-top: solid 9px transparent;
  position: absolute;
  right: -12px;
  top: -8px;
}

.main-content__item {
  width: 255px;
  text-align: center;
}

.main-content__item span {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.main-content__item img {
  width: 160px;
  height: 160px;
  margin: 0 auto 30px;
}

.main-content__item p {
  font-size: 14px;
}

.main-scroll {
  margin-top: 140px;
}

.main-scroll .main-title {
  margin-bottom: 90px;
}

.main-scroll .scroll-text__content:last-child {
  padding-right: 0 !important;
}

.scroll-text {
  display: flex;
  align-items: flex-start;
  clear: both;
}

.scroll-text__content + .scroll-text__content {
  margin-left: 30px;
}

.scroll-text__content {
  position: relative;
  padding-left: 20px;
  width: calc(33.33% - 20px);
}

.scroll-text__content q {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  font-weight: 700;
}

.scroll-text__content q:after {
  content: '.';
  font-size: 20px;
  color: #00b4ff;
}

.scroll-text__content p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.scroll-text__content span {
  font-size: 14px;
}

.scroll-grid {
  margin-top: 115px;
}

.scroll-grid .main-title {
  margin-bottom: 50px;
}

.scroll-grid__wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 33px;
}

.scroll-grid__item {
  width: calc(25% - 10px);
  margin-left: 10px;
}

.scroll-grid__item img {
  max-width: 100%;
  cursor: pointer;
}

.scroll-grid__item img + img {
  margin-top: 10px;
}

.franchise-block {
  padding: 100px 0;
  margin-top: 130px;
  background: 50% 50% no-repeat;
  background-size: cover;
}

.franchise-block .main-title {
  color: #fff;
  margin-bottom: 75px;
}

.franchise-block__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.franchise-block__card {
  background-color: #fff;
  border-radius: 9px;
  padding: 40px 0 30px 0;
  width: 325px;
}

.franchise-block__card.franchise--pro {
  width: 350px;
}

.franchise-block__card.franchise--pro h3, .franchise-block__card.franchise--pro .franchise-block__price p {
  color: #00b4ff;
}

.franchise-block__card.franchise--pro .gorod-btn {
  background-color: #00b4ff;
}

.franchise-block__card h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.franchise-block__card ul {
  font-size: 16px;
  line-height: 20px;
  padding: 0 30px 30px 30px;
}

.franchise-block__card ul li {
  padding-left: 10px;
  position: relative;
}

.franchise-block__card ul li:before {
  content: '-';
  position: absolute;
  left: 0;
  top: 10px;
  line-height: 1px;
}

.franchise-block__card ul li + li {
  margin-top: 25px;
}

.franchise-block__card .gorod-btn {
  background-color: #f77846;
  padding: 17px 0;
  width: 240px;
  font-weight: 700;
  margin: 30px auto 0;
  display: block;
}

.franchise-block__price {
  padding: 28px 30px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  font-size: 0;
}

.franchise-block__price p {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 700;
  width: 85%;
}

.franchise-block__price p strong {
  font-size: 30px;
}

.franchise-block__price span {
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  line-height: 16px;
  width: 15%;
}

.franchise-block__price span q {
  font-size: 13px;
  font-weight: 700;
}

.franchise-calc {
  padding-top: 140px;
}

.franchise-calc .main-title {
  margin-bottom: 75px;
}

.franchise-calc__arrow {
  position: absolute;
  height: 30px;
  right: -16px;
  width: 17px;
}

.franchise-calc__content {
  display: flex;
  align-items: flex-start;
}

.franchise-calc__content p {
  padding-left: 20px;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 45px;
}

.franchise-calc__content p:before {
  position: absolute;
  left: 0;
}

.franchise-calc__left {
  width: 43%;
  border-right: 2px solid #ddd;
  position: relative;
}

.franchise-calc__left .franchise-calc__title:before {
  content: '1.';
}

.franchise-calc__left li {
  transition: color .3s;
  cursor: pointer;
  padding-left: 35px;
  display: inline-block;
}

.franchise-calc__left li.active {
  position: relative;
  color: #f77846;
}

.franchise-calc__left li.active:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #f77846;
  border-radius: 50%;
  position: absolute;
  left: 11px;
  top: 10px;
}

.franchise-calc__left li + li {
  margin-top: 30px;
}

.franchise-calc__right {
  width: 57%;
  padding-left: 95px;
}

.franchise-calc__right .franchise-calc__title {
  margin-bottom: 55px;
}

.franchise-calc__right .franchise-calc__title:before {
  content: '2.';
}

.franchise-calc__right img {
  width: 100%;
  margin: 50px auto 15px;
}

.franchise-calc__right .franchise-tabs__btn {
  justify-content: space-between;
  display: flex;
}

.franchise-calc__right .gorod-btn {
  width: 160px;
  padding: 10px 0;
  border: 1px solid #888888;
  color: #888888;
  cursor: pointer;
}

.franchise-calc__right .gorod-btn.active {
  border: 1px solid #f77846;
  background-color: #f77846;
  color: #fff;
}

.franchise-calc__right .price-block p {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 35px;
}

.franchise-calc__right .price-block__holder {
  display: flex;
  align-items: flex-start;
}

.franchise-calc__right .price-block__right li + li, .franchise-calc__right .price-block__left li + li {
  margin-top: 35px;
}

.franchise-calc__right .price-block__left {
  width: 53%;
}

.franchise-calc__right .price-block__right {
  width: 47%;
}

.franchise-calc__right .price-block__right ul {
  font-weight: 600;
}
